.input {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: left;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

body {
  margin: 0;
}
